{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin: 10px 0px;">
        <div class="row">
            <div class="col-9">
            <h2>{{distributor_name}}</h2>
            </div>
            <button id="button">Test</button>
        </div>
    </div>
    {% if count == 0 %}
        <p>There are no Items available</p>
    {% else %}
        <table id="item_list" class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Size</th>
                <th scope="col">SKU</th>
                <th scope="col">Distributor</th>
                <th scope="col">UPC</th>
                <th scope="col">Category</th>
                <th scope="col">MPQ</th>
                <th scope="col">Case Cost</th>
                <th scope="col">Split Btl Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in object_list %}
                    <tr>
                        <th scope="row">{{instance.inventory_item_name}}</th>
                        <td>{{instance.inventory_item_size}}</td>
                        <td>{{instance.inventory_item_sku}}</td>
                        <td>{{instance.inventory_item_distributor}}</td>
                        <td>{{instance.inventory_item_upc}}</td>
                        <td>{{instance.inventory_item_category}}</td>
                        <td>{{instance.inventory_item_MPQ}}</td>
                        <td>{{instance.inventory_item_case_cost}}</td>
                        <td>{{instance.inventory_item_split_bottle_cost}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <script>
        $(document).ready( function () {
            var table = $('#item_list').DataTable();
            $('#item_list tbody').on('click', 'tr', function(){
                $(this).toggleClass('selected');
            });

            $('#button').click( function () {
                alert( table.rows('.selected').data());
            } );
        });
    </script>
{% endblock %}