{% extends 'base.html' %}

{% block content %}
    <h2>Welcome to my File Transfer Tool and Store Creator</h2>
    <h5>This program was designed with Cheers POS in mind</h5>
    <p>At the current state that this is written the following program can:</p>
    <ol>
        <li>Take a csv file, parse, and get item data</li>
        <li>Create a store with that item data and enter its items</li>
        <li>Create an ever growing Item Library</li>
        <li>The Item library is used to fill in some of the blank columns of the csv if possible</li>
        <li>You can create a new store and select items from the Item Library to add to your store</li>
        <li>Distributor list will grow with every new Distributor found</li>
        <li>Size list will grow with every new Size found</li>
        <li>Category list will grow with every new Category found</li>
        <li>Lastly, you can download a store's data as a csv if you want to modify its data in your own manner</li>
    </ol>
{% endblock %}