<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/storetransfer/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Store Transfer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/storetransfer/inventory_item/">Item Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create a Store</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Directories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/storetransfer/store/">Stores</a>
            <a class="dropdown-item" href="/storetransfer/distributor/">Distributors</a>
            <a class="dropdown-item" href="/storetransfer/category/">Categories</a>
            <a class="dropdown-item" href="/storetransfer/size/">Sizes</a>
          </div>
        </li>
      </ul>
    </div>
</nav>