{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin: 10px 0px">
        <div class="row">
            <div class="col-9">
            <h2>Sizes</h2>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="/storetransfer/size/create/">Create Size</a>
            </div>
        </div>
    </div>
    {% if count == 0 %}
        <p>There are no Sizes available</p>
    {% else %}
        <table id="item_list" class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">Size</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in object_list %}
                <tr>
                <th scope="row"><a href="{{ instance.get_absolute_url }}">{{instance.size_name}}</a></th>
                <td>
                    <a class="btn btn-primary btn-sm" href="/storetransfer/size/{{instance.id}}/update/">Update</a>
                    <a class="btn btn-primary btn-sm" href="/storetransfer/size/{{instance.id}}/delete/">Delete</a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <script>
        $(document).ready( function () {
            $('#item_list').DataTable();
        });
    </script>
{% endblock %}