{% extends 'base.html' %}

{% block content %}
    <p>{{ object.id }} - {{object.inventory_item_sku}} - {{object.inventory_item_distributor}} - {{object.inventory_item_size}} - {{object.inventory_item_category}} <br>
    {{object.inventory_item_name}} - {{object.inventory_item_case_cost}} - {{object.inventory_item_split_bottle_cost}} - {{object.inventory_item_MPQ}}</p>

    {% if count == 0 %}
        <p>There are no UPCs available</p>
    {% else %}
        {% for instance in object_list %}
            <p>{{ instance.id }} - <a href="{{ instance.get_absolute_url }}">{{instance.inventory_item_upc_type_name}}</a> - {{instance.inventory_item_upc}}</p>
        {% endfor %}
    {% endif %}
{% endblock %}