{% extends 'base.html' %}

{% block content %}
    <a href="/storetransfer/inventory_item/{{object.inventory_item_distributor_id}}/">Inventory Items</a>
    <h4>Item Name:</h4><p>{{object.inventory_item_name}}</p>
    <h4>Distributor:</h4><p>{{object.inventory_item_distributor}}</p>
    <h4>Item Category:</h4><p>{{object.inventory_item_category}}</p>
    <h4>Item Size:</h4><p>{{object.inventory_item_size}}</p>
    <h4>Item SKU:</h4><p>{{object.inventory_item_sku}}</p>
    <h4>Item UPC:</h4><p>{{object.distributor_email}}</p>
    <h4>Item Case Cost:</h4><p>{{object.inventory_item_case_cost}}</p>
    <h4>Item Split Bottle Cost:</h4><p>{{object.inventory_item_split_bottle_cost}}</p>
    <h4>Item MPQ:</h4><p>{{object.inventory_item_MPQ}}</p>
{% endblock %}