{% extends 'base.html' %}

{% block content %}
    <a href="/storetransfer/inventory_item/">Back to Distributor Selection</a>
    <div class="container" style="margin: 10px 0px;">
        <div class="row">
            <div class="col-9">
            <h2>Item Library</h2>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="/storetransfer/inventory_item/{{distributor_id}}/create/">Add Item</a>
            </div>
        </div>
    </div>
    {% if count == 0 %}
        <p>There are no Items available</p>
    {% else %}
        <table id="item_list" class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Size</th>
                <th scope="col">SKU</th>
                <th scope="col">Distributor</th>
                <th scope="col">UPC</th>
                <th scope="col">Category</th>
                <th scope="col">MPQ</th>
                <th scope="col">Case Cost</th>
                <th scope="col">Split Btl Cost</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in object_list %}
                    <tr>
                        <th scope="row"><a href="{{ instance.get_absolute_url }}">{{instance.inventory_item_name}}</a></th>
                        <td>{{instance.inventory_item_size}}</td>
                        <td>{{instance.inventory_item_sku}}</td>
                        <td>{{instance.inventory_item_distributor}}</td>
                        <td>{{instance.inventory_item_upc}}</td>
                        <td>{{instance.inventory_item_category}}</td>
                        <td>{{instance.inventory_item_MPQ}}</td>
                        <td>{{instance.inventory_item_case_cost}}</td>
                        <td>{{instance.inventory_item_split_bottle_cost}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="/storetransfer/inventory_item/{{instance.id}}/update/">Update</a>
                            <a class="btn btn-primary btn-sm" href="/storetransfer/inventory_item/{{instance.id}}/delete/">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <script>
        $(document).ready( function () {
            $('#item_list').DataTable();
        });
    </script>
{% endblock %}