{% extends 'base.html' %}

{% block content %}
    <form> {% csrf_token %}
        <a href="/storetransfer/store/{{store_id}}/bulk_add/">Back to Distributors</a>
        <div class="container" style="margin: 10px 0px;">
            <div class="row">
                <div class="col-6">
                    <h2>{{distributor_name}}</h2>
                </div>
                <div class="col-3">
                    <label style="display: block; margin: 10px 5px;">Markup Percent
                        <input type="number" min="0" max="100" id="markup_percent" value="0">
                    </label>
                </div>
                <button id="AddItem" type="button" class="btn btn-primary">Add Items</button>
            </div>
        </div>
    </form>
    {% if count == 0 %}
        <p>There are no Items available</p>
    {% else %}
        <table id="item_list" class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col" style="display: none;">Item Id</th>
                <th scope="col">Item Name</th>
                <th scope="col">Size</th>
                <th scope="col">SKU</th>
                <th scope="col">Distributor</th>
                <th scope="col">UPC</th>
                <th scope="col">Category</th>
                <th scope="col">MPQ</th>
                <th scope="col">Case Cost</th>
                <th scope="col">Split Btl Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in object_list %}
                    <tr>
                        <th scope="row" style="display: none;">{{instance.id}}</th>
                        <td>{{instance.inventory_item_name}}</td>
                        <td>{{instance.inventory_item_size}}</td>
                        <td>{{instance.inventory_item_sku}}</td>
                        <td>{{instance.inventory_item_distributor}}</td>
                        <td>{{instance.inventory_item_upc}}</td>
                        <td>{{instance.inventory_item_category}}</td>
                        <td>{{instance.inventory_item_MPQ}}</td>
                        <td>{{instance.inventory_item_case_cost}}</td>
                        <td>{{instance.inventory_item_split_bottle_cost}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <script>
        var table;
        var url = '/storetransfer/store/{{store_id}}/bulk_add/ajax_submit_call/'
        
        $(document).ready( function () {
            table = $('#item_list').DataTable();
            $('#item_list tbody').on('click', 'tr', function(){
                $(this).toggleClass('selected');
            });
        });
        $('#AddItem').click(function(e){
            e.preventDefault();
            var item_id_list = [];
            var data = table.rows('.selected').data();
            var markup_percent = document.getElementById('markup_percent').value
            if (data.length == 0){
                alert("No Items have been selected")
            }
            else{
                for(var i=0; i < data.length; i++){
                    item_id_list.push(data[i][0]);
                }
                $.post(url, {'item_id_list': item_id_list, 'csrfmiddlewaretoken':'{{ csrf_token }}', 'markup_percent':markup_percent }, 
                function(data){
                    if(data.status == 1){
                        alert(data.message);
                        //Have to find a way to remove selected rows
                    }
                    else{
                        alert(data.message);
                    }
                }
                );
            }
        });
    </script>
{% endblock %}