{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin: 10px 0px">
        <div class="row">
            <div class="col-9">
            <h2>{{object.store_name}}</h2>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="/storetransfer/store/{{object.id}}/create/">Add Item</a>
            </div>
        </div>
    </div>
    {% if count == 0 %}
        <p>There are no Items available</p>
    {% else %}
        <table id="item_list" class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Size</th>
                <th scope="col">SKU</th>
                <th scope="col">Distributor</th>
                <th scope="col">UPC</th>
                <th scope="col">Category</th>
                <th scope="col">MPQ</th>
                <th scope="col">Case Cost</th>
                <th scope="col">Split Btl Cost</th>
                <th scope="col">Retail Price</th>
                <th scope="col">On Hand</th>
                <th scope="col" style="display: none;">Error Value</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in object_list %}
                    {% if instance.item_error_value == True %}
                        <tr class="table-danger">
                            <th scope="row"><a href="{{ instance.get_absolute_url }}">{{instance.item_name}}</a></th>
                            <td>{{instance.item_size}}</td>
                            <td>{{instance.item_sku}}</td>
                            <td>{{instance.item_distributor}}</td>
                            <td>{{instance.item_upc}}</td>
                            <td>{{instance.item_category}}</td>
                            <td>{{instance.item_MPQ}}</td>
                            <td>{{instance.item_case_cost}}</td>
                            <td>{{instance.item_split_bottle_cost}}</td>
                            <td>{{instance.item_retail_price}}</td>
                            <td>{{instance.item_on_hand_count}}</td>
                            <td style="display: none;">{{instance.item_error_value}}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="/storetransfer/store/{{object.id}}/{{instance.id}}/update/">Update</a>
                                <a class="btn btn-primary btn-sm" href="/storetransfer/store/{{object.id}}/{{instance.id}}/delete/">Delete</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row"><a href="{{ instance.get_absolute_url }}">{{instance.item_name}}</a></th>
                            <td>{{instance.item_size}}</td>
                            <td>{{instance.item_sku}}</td>
                            <td>{{instance.item_distributor}}</td>
                            <td>{{instance.item_upc}}</td>
                            <td>{{instance.item_category}}</td>
                            <td>{{instance.item_MPQ}}</td>
                            <td>{{instance.item_case_cost}}</td>
                            <td>{{instance.item_split_bottle_cost}}</td>
                            <td>{{instance.item_retail_price}}</td>
                            <td>{{instance.item_on_hand_count}}</td>
                            <td style="display: none;">{{instance.item_error_value}}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="/storetransfer/store/{{object.id}}/{{instance.id}}/update/">Update</a>
                                <a class="btn btn-primary btn-sm" href="/storetransfer/store/{{object.id}}/{{instance.id}}/delete/">Delete</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <script>
        $(document).ready( function () {
            $('#item_list').DataTable({
                "order": [[ 11, "desc" ]]
            });
        });
    </script>
{% endblock %}
